.service{
    background-color: #00b9d193;
}
.service img{
    height: 30%;
    width: 50%;
}
.service p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}