*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

.box{
    width: 100%;
    min-height: 600px;
    padding: 40px 60px;
    color: white;
    font-family:sans-serif;
    text-align: center;
}

.box p{
    font-size: 20px;
    margin-top: 100px;
}

.box h1{
    font-size: 50px;
    text-shadow:  0px 0px 5px #000;
    word-wrap: break-word;
}


/* section - 1 */
.section-1{
      height: 100vh;
      background-image: url(../../images/banner-1.jpg);
      background-attachment: fixed;
      background-size: cover;
}

.front-bg{
    background-color: #00b9d181;
    
}

.section-1 h1, .section-1 h2{
    color: white;
    font-weight: bold;
}

.btn{
    background-color: #810054;
    border:2px solid #810054;
    color: white;
    font-weight: bold;
    margin: 10px;
}
.btn:hover{
    color: #810054;
    background-color: white;
}


/* section - 2 */
.section-2{
    background-color: #810054;
    display: flex;
    align-items: center;
}
.section-2 h1, .section-2 h2{
    color: white;
    font-weight: bold;
    text-align: left;
    text-shadow: none;
}


/* section - 3 */
.section-3{
    width: 100%;
    padding: 40px 60px;
    color: #810054;
    font-family:sans-serif;
}

.section-3 p{
    font-size: 20px;
}

.section-3 h1{
    font-size: 50px;
    text-shadow:  0px 0px 5px #000;
    word-wrap: break-word;
    font-weight: bold;
}


/* section - 4 */
.section-4{
    background-image: url(../../images/5Z8A21872.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.section-4{
    width: 100%;
    padding: 40px 60px;
    color: #810054;
    font-family:sans-serif;
    text-align: left;
}

.section-4 h1{
    font-size: 50px;
    text-shadow:  0px 0px 5px #000;
    word-wrap: break-word;
    font-weight: bold;
}

.section-4 p{
    max-width: 50%;
}


/* section - 5 */
.section-5{
    background: #00b9d1;
}


/* media query */
@media only screen and (max-width: 576px){
    .section-4 p{
        max-width: 100%;
        font-size: small;
        margin-top: 10px;
    }
}
